#modal1 {
    font-family: var(--bs-body-font-family) !important;
}

.row {
    height: 30vh;
    margin-top: 2.5vh !important;
}

.shop-img {
    height: 29vh;
    padding: 0.5vh;
}

.scales-cost {
    height: 5vh;
    vertical-align: top;
}

.costs {
    font-size: 3.5vh;
}

.relic-img {
    height: 15vh;
}

.relic-names {
    font-size: 3.5vh;
}

.relic-descs {
    position: relative;
    background-color: black;
    color: white;
    border-radius: 5px;
    z-index: 9;
}

.relic-descs::after {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}

.cursed-relic-descs {
    position: relative;
    background-color: black;
    color: white;
    border-radius: 5px;
    z-index: 9;
}

.cursed-relic-descs::before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
}

.arcana-img {
    height: 30vh;
}